{%extends "base.html"%}
{%block title%}Table{%endblock%}
{% block h1 %}Scoresheet{% endblock %}

{% block content %}
<p>Random table to referesh my memory on html tables:
    
</p>
<table border="2" style="border-color: black;" width = "400">
    <tr>
        <th> Subject</th>
        <th>Marks Scored</th>
    </tr>
    <tr>
        <td>Maths</td>
        <td>100/100</td>
    </tr>
    <tr>
        <td>Science</td>
        <td>100/100</td>
    </tr>
    <tr>
        <td>Art</td>
        <td>100/100</td>
    </tr>

</table>
{%endblock%}

